{% load static %}
{% load i18n %}
<html lang="pt-BR"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>Login - Kercaçamba</title>
    <!-- Bootstrap core CSS -->
    <link href={% static "css/bootstrap.css" %} rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href={% static "css/login.css" %} rel="stylesheet">

    <script src={% static "js/ie-emulation-modes-warning.js" %}></script>

  </head>

  <body>

    <div class="container">

      <form class="form-signin" role="form" method="post">{% csrf_token %}
        <h2 class="form-signin-heading"> Login - Kercaçamba </h2>
        {% for field in  form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <div class="callout callout-danger">
                <h4>{{ field.errors }}</h4>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% if form.non_field_errors %}
            <div class="callout callout-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      </form>

    </div> <!-- /container -->

    <script src={% static "js/ie10-viewport-bug-workaround.js" %}></script>

</body></html>
